<ui-form-field>
  <ui-label>Label</ui-label>
  <input uiInput [formControl]="sampleInput" type="text" placeholder="Placeholder">
  @if (sampleInput.errors?.['required'] && sampleInput.touched) {
    <ui-error>Input is required</ui-error>
  }
</ui-form-field>

<p></p>

<ui-form-field>
  <ui-label>Label</ui-label>
  <input uiInput [formControl]="sampleInputDisabled" type="text" placeholder="Placeholder">
  @if (sampleInputDisabled.errors?.['required'] && sampleInputDisabled.touched) {
    <ui-error>Input is required</ui-error>
  }
</ui-form-field>

<p></p>

<ui-form-field>
  <ui-label>Times of day</ui-label>
  <input autocomplete="off"
         [formControl]="sampleInputAutocomplete"
         uiInput
         [uiAutocomplete]="auto">
  <ui-autocomplete #auto="uiAutocomplete" (optionSelected)="handleOptionSelected($event)">
    @for (option of _filteredOptions$ | async; track option) {
      <ui-option [value]="option">{{ option }}</ui-option>
    }
  </ui-autocomplete>
</ui-form-field>
